
@{
    ViewData["Title"] = "View";
}

<h2>Details</h2>

<img src="#" />
<label>Titel</label><p id="titel"></p>
<label>Jaar</label><p id="jaar"></p>
<label>Waardering</label><p id="Waardering"></p>
<label>Beschrijving</label><p id="Beschrijving"></p>
<label>Regisseur</label><p id="Regisseur"></p>
<label>Genre</label><p id="Genre"></p>
<label>Acteurs</label><p id="Acteurs"></p>
