
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<form>
    <input type="text" id="searchbar" name="searchbar" />
    <input type="submit" value="Zoek" />

    <h3>Filmlijst</h3>

    <table id="details">
        <tr>
            <th>Titel</th>
            <th>Jaar</th>
            <th>Waardering</th>
        </tr>
    </table>
</form>